<div class="booyah-box"
  <h1>Enter your Place details</h1>
    <%= simple_form_for @place do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <br />
      <%= f.submit 'create', class: 'btn btn-primary' %>
    <% end %>
</div>
